src/tools/terraform-for-ise-migration/.internal/templates/workflow_arm_template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {},
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "HelloLogicAppsTemplate",
            "location": "westus2",
            "properties": {
                "state": "Enabled",
                "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "manual": {
        "type": "Request",
        "kind": "Http",
        "inputs": {}
      }
    },
    "actions": {
      "HTTP": {
        "runAfter": {
          "var_Sales_Info": [
            "Succeeded"
          ]
        },
        "type": "Http",
        "inputs": {
          "body": "@variables('jsonObject')",
          "method": "POST",
          "uri": "https://httpbin.org/post"
        }
      },
      "Response": {
        "runAfter": {},
        "type": "Response",
        "kind": "Http",
        "inputs": {
          "statusCode": 200
        }
      },
      "var_Json_accounting": {
        "runAfter": {
          "Response": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "jsonObject",
              "type": "object",
              "value": {
                "accounting": [
                  {
                    "age": 23,
                    "firstName": "John",
                    "lastName": "Doe"
                  },
                  {
                    "age": 32,
                    "firstName": "Mary",
                    "lastName": "Smith"
                  }
                ],
                "sales": [
                  {
                    "age": 27,
                    "firstName": "Sally",
                    "lastName": "Green"
                  },
                  {
                    "age": 41,
                    "firstName": "Jim",
                    "lastName": "Galley"
                  }
                ]
              }
            }
          ]
        }
      },
      "var_Sales_Info": {
        "runAfter": {
          "var_Json_accounting": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "sales-info",
              "type": "object"
            }
          ]
        }
      }
    },
    "outputs": {}
  },
                "parameters": {}
            }
        }
    ],
    "outputs": {
        "logicAppUrl": {
           "type": "string",
           "value": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows/', 'HelloLogicAppsTemplate'), '/triggers/manual'), '2017-07-01').value]"
        }
     }
}